/* You can add global styles to this file, and also import other style files */



/* Auth forms */
.auth-form {
    margin: 5rem auto 0;
    padding: 2rem;
}

.auth-form > button {
    margin-top: 1rem;
    border-radius: 2rem;    
}


/* Flash message */
.flash-message {
    position: absolute;
    width: 100%;
    border-radius: 0;
    -webkit-animation: fade-in 1s linear; 
    animation: fade-in 0.2s linear; 
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}