/* You can add global styles to this file, and also import other style files */



/* Auth forms */
.auth-form {
    margin: 5rem auto 0;
    padding: 2rem;
}

.auth-form > button {
    margin-top: 1rem;
    border-radius: 2rem;    
}