<div class="jumbotron text-center">
  <h1 class="display-4">MEAN Stack Authentication App</h1>

  <div class="mean-logos">
    <img class="img-fluid" src="../../assets/img/mongodb.jpg" alt="mongodb logo">
    <img class="img-fluid" src="../../assets/img/express.png" alt="express logo">
    <img class="img-fluid" src="../../assets/img/angular.png" alt="angular logo">
    <img class="img-fluid" src="../../assets/img/nodejs.png" alt="nodejs logo">
  </div>

  <p class="lead mt-5 mb-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ad dolore animi inventore in hic facere ducimus, molestias impedit molestiae velit earum assumenda. Maiores quidem numquam, fugit amet harum voluptatibus?
  </p>
  <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Get started</a>
</div>